/* Button left */
#leftbtn
{
	position : absolute;
	z-index : 2;
	top : 2%;
	height : 9%;
	width : 7%;
	padding : 2px;
	background-color : #CF331C ;
	color : white ;
	border : none ;
}
/* Button Droit */
#rightbtn
{
	position : absolute;
	z-index : 2;
	left : 93%;
	top : 2%;
	height : 9%;
	width : 7%;
	padding : 2px;
	background-color : #CF331C ;
	color : white ;
	border:none;

}


/* Div left */
#left
{
	position : absolute;
	z-index : 1;
	background-color : #F2F2F2;
	height : 100%;
	width : 66%;
	visibility : hidden;
}

#recherche
{
	position : absolute;
	top : 13%;
	left : 15%;
	width : 70%;
	border : solid ;
	border-width : 2px;
	border-color :  #008C32;
	height : 10%;
	font-size : x-large;
}

.nom
{
font-size : xx-large;
color : white;
margin-top : 15%;
padding-left : 1%;
}

.chi
{
font-size : x-large;
color : white;
padding-left : 1%;
}


#first
{
	position : absolute ;
	top : 31%;
	left : 1%;
	height:33%;
	width : 48%;
	background-color:#CF331C;
}

#second
{
	position : absolute ;
	top : 31%;
	left : 50%;
	height:33%;
	width : 48%;
	background-color:#CF331C;
}

#third
{
	position : absolute ;
	top : 66%;
	left : 1%;
	height:33%;
	width : 48%;
	background-color:#CF331C;
}

#fourth
{
	position : absolute ;
	top : 66%;
	left : 50%;
	height:33%;
	width : 48%;
	background-color:#CF331C;
}
/* Div Right */

#right
{
	position : absolute;
	z-index : 1;
	left : 34%;
	background-color : #F2F2F2;
	height : 100%;
	width : 66%;
	visibility : hidden;
}

#Infos
{
	margin-left:2%;
}

#Name
{
	top : 2%;
	color : #008C32;
	font-size: xx-large ; 
	padding-bottom : 0%;
}

#Formul
{
	font-style : italic ;
	color : #008C32;
	font-size : x-large ;
	line-height :0;
}

#Description
{
	font-style : justify;
	font-size : large ; 
	overflow : auto;
	text-align : justify;
}

#option
{
	position : absolute;
	bottom : 0%;
	margin-left : 2%;
	font-style : italic;
}

#wiki
{
	position : absolute ;
	display : inline;
	font-size : small;
	margin-top : 1%;
}

#lien
{
	color : #008C32;
}
