.row
{
	padding-left : 40px;
	margin-right: -15px;
	margin-left: -15px;
}

body
{
}

#Lunette
{
	position: absolute;
    left: 1300px;
    top: 3px;
    z-index: 2;
}

/*Haut de page*/
#HeaderLgn
{
	
}

#Logo{
background-color: white ;
}

#degrade /*Degradé de la colonne de largeur 2*/
{
	background-image:linear-gradient(90deg,white,#CF331C);
	color:white;
}

#hidden
{
	color:white;
}

#Navbar
{
	background-color:#CF331C;
}

ul.header li a
{
	text-align: center;
	color : black ;
	padding-right: 20px;
	padding-left: 20px;
}

ul.header li a:hover
{
	background-color: #E2381F;
	color : black;
}

.menu{
    float:none;
    display:inline-block;
    vertical-align:bottom;
    margin-right:-4px;
}

/*Base de donnée */

#Bdd
{
	box-shadow: 5px 5px 10px #aaa;
}
ul.ulBdd li a
{
	color: white;
}

ul.ulBdd li a:hover
{
	background-color: #4D4D4D;
}

ul.ulBdd li a:active
{
	background-color: #4D4D4D;
	border : none ;
}

ul.ulBdd li a:visited
{
	background-color: #4D4D4D;
	border : none ;
}
#Bdd
{

	Background-color : 	#292929;
	border-radius:8px;
	color : white;
}

input
{
	color : #292929;
	
}

.fixed
{
	height : 450px;
	overflow : auto;
}

.search
{
	border-radius:8px;
	background-color : white;
	border:none;
	padding-top : 3px;
	padding-bottom : 3px;
	padding-left : 3px;
	padding-right : 3px;
}

.search:hover
{
	background-color: #4D4D4D;
	color : white;
}

.searchmol
{
	border-radius:5px;
	border : none
}
/*3D*/

#name
{
	position:fixed;
	z-index:1;
	padding-left:30px;
}

.button3d
{
	border : none;
	border-radius:7px;
	background-color: #292929;
	color : white;
	padding-top : 4px;
	padding-bottom : 4px;
	box-shadow: 3px 3px 7px #aaa;
}

.colorie
{
	border-radius:7px;
	background-color: #292929;
	color : white;
	padding-top : 4px;
	padding-bottom : 4px;
	border-style : solid ;
	box-shadow: 3px 3px 7px #aaa;
}
/* Descrpitif Molécule */

#Descriptif
{
	padding-right : 40px;
}

#Descriptif h2
{
	background-color : #008C32;
	color : white;
	text-align : center;
	box-shadow: 5px 5px 10px #aaa;
	
}

#Descriptif p
{
	padding-left : 10px;
	padding-right : 10px;
	text-align : justify;
	border-style : solid ;
	border-bottom : none ;
	border-top : none ;
	border-color : #008C32;
	height : 350px;
	overflow : auto;
}


#Descriptif span
{
	color : #008C32;
}

#Descriptif span:hover
{
	color : #292929;
}

/*Fond option */

#Fond li
{
	border:none;
	display:block;
	float:left;
	padding-left: 10px;
	padding-right: 10px;
}

.container {
	border:none;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color : #00FF00 ;
}



